@charset "utf-8";

*,*:after,*:before {box-sizing: border-box;}
html,body {width:100%; height:100%;}
a {text-decoration: none;}
.banner {background: url(../img/hero-bg.jpg) no-repeat 0 center;
         background-size: 100%; position: relative; text-align: center;}
.bannertext {padding-top: 15%;padding-bottom: 15%;}     
.banner h2 {letter-spacing: 0.4rem;font-weight: normal;font-size: 2rem;}      
.banner h2 span {color:#b2b2b2;}
.banner p {font-size: 0.9rem;line-height: 3;color:#b2b3b3;}
.banner button {width:180px; background:#3ec9b4;color:#fff;
                font-size:0.7rem; padding:15px 0;border: none;
                border-radius: 5px; margin-top:3%;
                box-shadow: 0 4px 0 #268b7c;}

.cont1 {width:100%; background: #eee; text-align: center; padding:7% 0;}
.cont1text {width:50%; margin:0 auto;}
.cont1text h3 {font-size: 1rem;}
.cont1text p {font-size:0.85rem;margin-top: 2%;}      

.cont2 {text-align: center;}
.cont2 h3 {font-size:1rem; padding:7% 0;}
.cont2wrap {width:60%;margin:0 auto;padding-bottom:5%;}
.cont2box {width:33.33%; float:left;padding-right:2px;}
.cont2box img {width:100%;}
.cont2box h4 {font-size: 0.9rem; padding-top:10%;}
.line {width:50px; height:3px; background: #3ec9b4;margin:10% auto;}
.cont2box p:last-child {font-size:0.75rem; width:70%; 
                        margin:0 auto; line-height: 1.4;} 

.cont4 {background: url(../img/plants-bg.jpg) no-repeat center;
        background-size:100%; text-align: center; padding:7% 0;}
.cont4 h3 {color:#fff; font-size:2rem; font-weight: normal;
           letter-spacing: 0.3rem;} 
.cont4 p {color:#fff;font-size:1.1rem;letter-spacing: 0.2rem;
          font-style: italic;line-height: 3;} 

.cont5 {width:100%; padding-top:7%; }
.cont5wrap {width:70%;margin:0 auto;text-align: center;}
.cont5box {display: inline-block; width:30%; margin-right: 3%;}
.cont5box:last-child {margin-right: 0;}
.cont5box h4 {font-size: 0.9rem; padding-top:10%;}
.cont5box p:last-child {font-size:0.75rem; width:70%;
                        margin:0 auto;color: #7c7c7c;  line-height: 1.6;}
.cont5box img {width:100%;} 

.cont8 {width:100%; background: url(../img/keyboard-bg.jpg) no-repeat center;
    background-size:100%;text-align: center; margin-top:7%;}

.cont8 h3 {color:#fff; font-size: 1rem;padding:5% 0 2% 0;} 
.sendtext {width:20%; height:40px;background: rgba(255,255,255,0.3);
           border:1px solid #fff;}
.submit {width:10%; height: 40px;background: #3ec9b4;border:none;color:#fff;} 
.cont8 form {padding-bottom: 5%;} 

.cont9 {width:100%; background:#e8e9f9;}
.cont9 h3 {text-align: center; padding:7% 0; font-size: 1rem;}
.line2 {border-bottom:2px dotted #818181;width:15%;margin:0 auto;}

.cont9wrap {width:70%; margin:0 auto; text-align: center;padding:5% 0;}
.cont9box {width:30%;background: #fff; display:inline-block;
           margin-right:1.5%; height:250px;
           box-shadow: 1px 1px 0 #818181;}
.cont9box:last-child {margin-right:0;}            
.cont9box:nth-child(1){
    background:#fff url(../img/cont9_ic2.png) no-repeat center 15%;}
.cont9box:nth-child(2){
    background: #fff url(../img/cont9_ic1.png) no-repeat center 15%;}   
.cont9box:nth-child(3){
    background: #fff url(../img/cont9_ic3.png) no-repeat center 15%;}    
.cont9box h4 {margin-top:100px;}    
.cont9box p {font-size: 0.8rem; color:#7c7c7c;}      

.sns2 {text-align: center; padding-bottom:5%;}
.sns2 ul li {width:40px; height:40px; background:#333;
             border-radius: 40px; display:inline-block;}

.sns2 ul li:first-child {background:#333 url(../img/sns1.png) no-repeat center; 
                         background-size: 50%;}             
.sns2 ul li:nth-child(2) {background:#333 url(../img/sns2.png) no-repeat center;
                          background-size: 50%;}     
.sns2 ul li:last-child{background:#333 url(../img/sns3.png) no-repeat center;
                       background-size: 25%;}                                                